### app ##############

PROJECT_NAME=test
APP_CONTAINER_PATH=/var/www
PHP_VERSION=7.2
LARAVEL_VERSION=5.6


### nginx ##############

NGINX_HOST_HTTP_PORT=80
NGINX_HOST_HTTPS_PORT=4443


### mysql ##############

MYSQL_VERSION=8.0
MYSQL_DATABASE=test
MYSQL_USER=test
MYSQL_PASSWORD=secret
MYSQL_ROOT_PASSWORD=root
MYSQL_HOST_PORT=33061
TIMEZONE=Asia/Tokyo