### common ##############
TIMEZONE=Asia/Tokyo
LOCALE=ja


### app ##############

APP_NAME=test
APP_CONTAINER_PATH=/var/www
PHP_VERSION=7.2
LARAVEL_VERSION=5.6
LARAVEL_SESSION_DRIVER=mysql
LARAVEL_IDE_HELPER=true
XDEBUG_REMOTE_HOST=docker.for.mac.localhost
XDEBUG_IDEKEY=PHPSTORM

### nginx ##############

NGINX_HOST_HTTP_PORT=80
NGINX_HOST_HTTPS_PORT=4443


### mysql ##############

MYSQL_VERSION=8.0
MYSQL_DATABASE=test
MYSQL_USER=test
MYSQL_PASSWORD=secret
MYSQL_ROOT_PASSWORD=root
MYSQL_HOST_PORT=33061


### node ##############
NODE_VERSION=10
NODE_APP_CONTAINER_PATH=/var/www
